.sec1{
    background-image: url(./R\ \(10\).jpg);
    height: 700px;
    display: flex;
 justify-content: center;
 padding-top: 120px;

    
   
}
.div1{
    box-shadow: rgba(82, 82, 110, 0.95) 3px -14px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}



.h1{
    color: white;
    margin-left: 120px;
    font-size: 40px;
}
.h2{
    color: white;
    margin-left: 15px;
    font-size: 20px;
    padding: 20px;
}
.h3{
    color: white;
    font-size: 20px;
    padding: 20px;
    margin-left: 150px;
}
input {
    display: flex;
    width: 400px;
    height: 50px;
    margin: 20px;
    font-size: 20px;
    border-radius: 4px;
}
.button1{
    width: 410px;
   font-size: 20px;
    margin-left: 20px;
    background-color: blue;
    color: white;
    border-radius: 6px;
    padding: 20px;
    


}
.btn{
    width: 200px;
    height: 50px;
    margin-left: 15px;
    font-size: 20px;
    color: white;
    background-color: rgb(120, 120, 226);
    border-radius: 4px;
}
.btn1{
    width: 200px;
    height: 50px;
    margin-left: 15px;
    font-size: 20px;
    color: white;
    background-color: rgb(165, 42, 128);
    border-radius: 4px;

}
.p1{
    color: white;
    font-size: 25px;
    margin-left: 50px;
}
.a{
    color: blue;
}